{% extends 'base.html' %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-black fixed-top">
        <div class="container-fluid">
            <a class="text-warning navbar-brand fw-bolder" href="{{ url_for('index') }}">
                <i class="bi bi-stripe"></i>
                tripTWOStrip
            </a>
            <a class="btn btn-warning text-black fs-5" href="{{ url_for('account') }}">
                <i class="bi bi-arrow-left-short"></i>
                Назад
            </a>

            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="text-white nav-link" href="#footer">Связаться с нами</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<form method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1">Login</label>
      <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember_me" checked="checked">
      <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% if error %}
  <span>{{ error }}</span>
  {% endif %}
{% endblock %}