{% extends 'base.html' %}

{% block content %}
    <div class="container d-flex justify-content-evenly flex-md-row flex-column align-items-center border-bottom py-3"
         id="aboutCompany">
        <div class="d-flex flex-column gap-2 w-50 text-black">
            <h2>Коротко о нас</h2>
            <p class="text-justify">
                Добро пожаловать в Trip2Strip - ваш проводник в увлекательном мире Москвы! Организуем незабываемые
                экскурсии
                по истории и красотам столицы. Путеводители Trip2Strip готовы показать вам самые интересные места,
                создавая
                неповторимые впечатления от города. Присоединяйтесь к нам и открывайте Москву вместе с Trip2Strip!</p>
        </div>
        <img alt="" class="w-50 rounded-5" src="{{ url_for('static', filename='images/moscow.jpg') }}">
    </div>

    <section class="bg-success-subtle text-black">
        <div class="container text-center py-3 border-bottom" id="ourPluses">
            <h2>Наши преимущества</h2>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 rounded-4 ">
                    <i class="bi bi-map fs-2"></i>
                    <h4>Уникальные Маршруты</h4>
                    <p>Trip2Strip предлагает эксклюзивные маршруты по Москве, позволяя вам открыть для себя неизведанные
                        уголки
                        города.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 rounded-4 ">
                    <i class="bi bi-people fs-2"></i>
                    <h4>Опытные Гиды</h4>
                    <p>Наши профессиональные гиды делают каждую экскурсию увлекательной, делясь интересными фактами и
                        историями.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 rounded-4 ">
                    <i class="bi bi-calendar-day fs-2"></i>
                    <h4>Гибкий График</h4>
                    <p>Trip2Strip предоставляет гибкие опции расписания, чтобы удовлетворить потребности каждого
                        клиента.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 rounded-4 ">
                    <i class="bi bi-houses fs-2"></i>
                    <h4>Удобная Инфраструктура</h4>
                    <p>Мы предоставляем удобные условия для туристов, включая транспортные средства и комфортные точки
                        отдыха.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 rounded-4 ">
                    <i class="bi bi-person-lock fs-2"></i>
                    <h4>Индивидуальный Подход</h4>
                    <p>Мы настраиваем экскурсии под ваши интересы и предпочтения, создавая уникальный опыт для каждого
                        клиента.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 rounded-4 ">
                    <i class="bi bi-lock fs-2"></i>
                    <h4>Безопасность и Уверенность</h4>
                    <p>Trip2Strip обеспечивает высший уровень безопасности и комфорта во время каждой экскурсии, чтобы
                        вы могли полностью насладиться путешествием.</p>
                </div>
            </div>
        </div>
    </section>


    <div class="container my-3" id="excursions">
        <h2 class="text-center">Выбор экскурсии</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <label class="input-group-text" for="inputName" id="searchIcon">
                        <i class="bi bi-search"></i>
                    </label>
                    <input class="form-control" id="inputName" placeholder="Введите название" required type="text"/>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-1">
                <select class="form-select" id="selectorPlace"></select>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center align-items-center my-2">
        {% if page - 1 >= 1 %}
            <a class="btn btn-warning" href="{{ url_for('index_2', page=page - 1) + '#excursions' }}"><i
                    class="bi bi-arrow-left" style="font-size: 24px;"></i></a>
        {% else %}
            <span class="btn btn-warning disabled"><i class="bi bi-arrow-left" style="font-size: 24px;"></i></span>
        {% endif %}
        <span class="current-interval-info mx-2">Страница {{ page }} из {{ total_count }}</span>
        {% if page + 1 <= total_count %}
            <a class="btn btn-warning" href="{{ url_for('index_2', page=page + 1) + '#excursions' }}"><i
                    class="bi bi-arrow-right" style="font-size: 24px;"></i></a>
        {% else %}
            <span class="btn btn-warning disabled"><i class="bi bi-arrow-right" style="font-size: 24px;"></i></span>
        {% endif %}
    </div>


    <div class="container mt-3 table-responsive fs-6">
        <table class="table table-bordered" id="routes">
            <thead>
            <tr>
                <th class="table-warning">Id</th>
                <th class="table-warning">Основные места</th>
                <th class="table-warning">Гид</th>
                <th class="table-warning">Продолжительность (часов)</th>
                <th class="table-warning">Цена за человека</th>
                <th class="table-warning"></th>
            </tr>
            </thead>

            <tbody id="routesBody">
            {% for route in routes %}
                {% if (route[0] >= per_page_count * (page - 1)) and (route[0] < per_page_count * page) %}
                    <tr>
                        <td> {{ loop.index }} </td>
                        <td> {{ route[1].route.replace("&", " - ") }} </td>
                        <td> {{ route[1].firstname + " " + route[1].lastname + " " + route[1].middlename }} </td>
                        <td> {{ route[1].duration }} </td>
                        <td> {{ route[1].price_per_person }} </td>
                        <td>
                            <a class="btn btn-primary"
                               href="{{ url_for("route", route_id=route[1].id) }}">Посмотреть</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}