{% extends 'base.html' %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-black fixed-top">
        <div class="container-fluid">
            <a class="text-warning navbar-brand fw-bolder" href="{{ url_for('index') }}">
                <i class="bi bi-stripe"></i>
                tripTWOStrip
            </a>
            <a class="btn btn-warning text-black fs-5" href="{{ url_for('account') }}">
                <i class="bi bi-arrow-left-short"></i>
                Назад
            </a>

            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="text-white nav-link" href="#footer">Связаться с нами</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <h1 class="modal-title fs-5 pt-3" id="title">Информация о заказе</h1>

    <div class="table-responsive fs-6">
        <table class="table table-bordered" id="myTable">
            <tr>
                <th class="table-warning">Id заказа</th>
                <td id="IDValue">{{ order_info.order_id }}</td>
            </tr>
            <tr>
                <th class="table-warning">Дата</th>
                <td id="duration">{{ order_info.order_date }}</td>
            </tr>
            <tr>
                <th class="table-warning">Название экскурсии</th>
                <td id="duration">{{ order_info.name }}</td>
            </tr>
            <tr>
                <th class="table-warning">Основные места</th>
                <td id="placesValue">{{ order_info.route.replace('&', ' - ') }}</td>
            </tr>
            <tr>
                <th class="table-warning">
                    {% if current_user.is_guide() %}Имя заказчика{% else %}Имя гида{% endif %}</th>
                <td id="guide">{{ order_info.firstname + " " + order_info.lastname + " " + order_info.middlename }}</td>
            </tr>
            <tr>
                <th class="table-warning">Продолжительность (часов)</th>
                <td id="duration">{{ order_info.duration }}</td>
            </tr>
            <tr>
                <th class="table-warning">Количество персон</th>
                <td id="duration">{{ order_info.order_person_count }}</td>
            </tr>
            <tr>
                <th class="table-warning">Стоимость</th>
                <td id="price_per_person">{{ order_info.order_total_price }}</td>
            </tr>
        </table>
    </div>

    <div>
        <h2>Изменение заказа</h2>

        {% if not current_user.is_authenticated %}
            <div class="alert alert-danger">
                Чтобы изменить заказ, нужно войти в систему.
            </div>
        {% endif %}

        <form method="post" action="{{ url_for('order_edit', order_id=order_info.order_id) }}"
              class="{% if not current_user.is_authenticated %}disabled-form{% endif %}">
            <div class="position-relative">
                <label class="form-label" for="inputDate">Введите дату экскурсии*</label>
                <input class="form-control {% if errors.get('date') %}is-invalid{% endif %}" id="inputDate" name="date"
                       placeholder="YYYY-MM-DD" required type="date"
                       value="{{ order_info.order_date.date() }}"
                       {% if not current_user.is_authenticated %}disabled{% endif %}>
                {% if errors.get('date') %}
                    <div class="invalid-feedback">
                        <ul>
                            {% for error in errors['date'] %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="position-relative">
                <label class="form-label" for="inputTime">Введите время начала*</label>
                <input class="form-control {% if errors.get('time') %}is-invalid{% endif %}" id="inputTime" name="time"
                       placeholder="17:00" required type="time"
                       value="{{ order_info.order_date.time() }}"
                       {% if not current_user.is_authenticated %}disabled{% endif %}>
                {% if errors.get('time') %}
                    <div class="invalid-feedback">
                        <ul>
                            {% for error in errors['time'] %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="position-relative">
                <label class="form-label" for="selectorPersonCount">Выберите количество персон*</label>
                <select aria-label="Default select example" class="form-select" id="selectorPersonCount"
                        name="person_count" {% if not current_user.is_authenticated %}disabled{% endif %}>
                    {% for i in range(1, 21) %}
                        <option value="{{ i }}" {% if order_info.order_person_count == i %}selected{% endif %}>
                            {{ i }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="position-relative">
                <label class="form-label" for="selectorDuration">Выберите продолжительность (в часах)*</label>
                <select aria-label="Default select example" class="form-select" id="selectorDuration" name="duration"
                        {% if not current_user.is_authenticated %}disabled{% endif %}>
                    {% for i in range(1, 7) %}
                        <option value="{{ i }}" {% if order_info.duration == i %}selected{% endif %}>
                            {{ i }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <p class="text-body-secondary">
                Поля, помеченные "*" обязательны для заполнения
            </p>

            <hr/>
            <h1 class="modal-title fs-5" id="price">Стоимость</h1>
            <div class="fs-5">
                Итоговая стоимость:
                <span id="totalPrice" class="font-weight-bold">{{ order_info.order_total_price }}</span>
                <input type="hidden" id="visibleTotalPrice" name="totalPrice"
                       value="{{ order_info.order_total_price }}">
            </div>

            <script>
                console.log("aaaaaaaaaaaaa");
                const totalPriceElement = document.getElementById('totalPrice');
                const visibleTotalPriceElement = document.getElementById('visibleTotalPrice');
                const pricePerPerson = {{ order_info.price_per_person }};

                function calculateTotalPrice() {
                    const personCount = parseInt(document.getElementById('selectorPersonCount').value);
                    const duration = parseInt(document.getElementById('selectorDuration').value);
                    const totalPrice = personCount * duration * pricePerPerson;
                    totalPriceElement.textContent = totalPrice;
                    visibleTotalPriceElement.value = totalPrice;
                }

                calculateTotalPrice();

                document.getElementById('selectorPersonCount').addEventListener('change', calculateTotalPrice);
                document.getElementById('selectorDuration').addEventListener('change', calculateTotalPrice);
            </script>

            <a class="btn btn-secondary" href="{{ url_for('index') + '#excursions' }}">
                Закрыть
            </a>
            <button class="btn btn-warning" type="submit" {% if not current_user.is_authenticated %}disabled{% endif %}>
                Подтвердить
            </button>
        </form>

    </div>

{% endblock %}