{% extends 'base.html' %}

{% block content %}

    <h1 class="modal-title fs-5 pt-3" id="title">Информация о маршруте</h1>

    <div class="table-responsive fs-6">
        <table class="table table-bordered" id="myTable">
            <tr>
                <th class="table-warning">Id</th>
                <td id="IDValue">{{ route_info.id }}</td>
            </tr>
            <tr>
                <th class="table-warning">Основные места</th>
                <td id="placesValue">{{ route_info.route.replace('&', ' - ') }}</td>
            </tr>
            <tr>
                <th class="table-warning">Гид</th>
                <td id="guide">{{ route_info.firstname + " " + route_info.lastname + " " + route_info.middlename }}</td>
            </tr>
            <tr>
                <th class="table-warning">Продолжительность (часов)</th>
                <td id="duration">{{ route_info.duration }}</td>
            </tr>
            <tr>
                <th class="table-warning">Цена за человека</th>
                <td id="price_per_person">{{ route_info.price_per_person }}</td>
            </tr>
        </table>
    </div>

    <div>
        <form>
            <div class="position-relative">
                <label class="form-label" for="inputDate">
                    Введите дату экскурсии*
                </label>
                <input class="form-control" id="inputDate" placeholder="YYYY-MM-DD" required
                       type="date"/>
            </div>

            <div class="position-relative">
                <label class="form-label" for="inputTime">
                    Введите время начала*
                </label>
                <input class="form-control" id="inputTime" placeholder="17:00" required type="time"/>
            </div>

            <div class="position-relative">
                <label class="form-label" for="selectorPersonCount">
                    Выберите количество персон*
                </label>
                <select aria-label="Default select example" class="form-select"
                        id="selectorPersonCount">
                    {% for i in range(1, 21) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="position-relative">
                <label class="form-label" for="selectorDuration">
                    Выберите продолжительность (в
                    часах)*
                </label>
                <select aria-label="Default select example" class="form-select" id="selectorDuration">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

            <p class="text-body-secondary">
                Поля, помеченные "*" обязательны для
                заполнения
            </p>
        </form>

        <hr/>
        <h1 class="modal-title fs-5" id="price">
            Стоимость
        </h1>
        <div>
            Итоговая стоимость:
            <div id="totalPrice"></div>
        </div>
    </div>

    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
        Закрыть
    </button>
    <button class="btn btn-warning" id="getWithdraw" type="button">
        Забронировать
    </button>

{% endblock %}